<!DOCTYPE html>
<html>
  <head>
    <title>Lets Play</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index/styles.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="buttons-wrapper" onclick="handleClick(event)">
        <div class="button create" id="create_room"><span>Create</span></div>
        <div class="button enter" id="enter_room"><span>Enter</span></div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      function handleClick(event) {
        const screenWidth = window.innerWidth;
        const clickPosition = event.clientX;

        if (clickPosition < screenWidth / 2) {
          window.location.href = '/create';
        } else {
          window.location.href = '/enter';
        }
      }
    </script>
  </body>
</html>
